In [38]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
simple_train = ['Chinese beijing chinese ','Chinese  chinese Shanghai','Chinese Macao','Tokyo japan Chinese']
simple_train_target=['c','c','c','j']
vect = CountVectorizer()
x_train_dtm=vect.fit(simple_train)

In [30]:
vect.get_feature_names()

['beijing', 'chinese', 'japan', 'macao', 'shanghai', 'tokyo']

In [31]:
simple_train_dtm = vect.transform(simple_train)
simple_train_dtm

<4x6 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [32]:
simple_train_dtm.toarray()

array([[1, 2, 0, 0, 0, 0],
       [0, 2, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1]], dtype=int64)

In [33]:
pd.DataFrame(simple_train_dtm.toarray(), columns = vect.get_feature_names())

   beijing  chinese  japan  macao  shanghai  tokyo
0        1        2      0      0         0      0
1        0        2      0      0         1      0
2        0        1      0      1         0      0
3        0        1      1      0         0      1

In [34]:
new_map_target = []
count = 0
for x in simple_train_target:
    if x == 'c':
        new_map_target.append(0)
    else:
        new_map_target.append(1)

In [35]:
new_map_target

[0, 0, 0, 1]

In [36]:

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(simple_train_dtm, new_map_target)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
x_text = ['Chinese Chinese Chinese Tokyo japan']
simple_train_dtm=vect.transform(x_test)
simple_train_dtm

NameError: name 'x_test' is not defined