In [33]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
simple_train =['Bangladesh Dhaka bangladesh ','Bangladesh bangladesh Pabna','Bangladesh Rajsahi','Mumbai india Bangladesh']
simple_train_target=['b','b','b','i']
vect = CountVectorizer()
vect.fit(simple_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [34]:
vect.get_feature_names()

['bangladesh', 'dhaka', 'india', 'mumbai', 'pabna', 'rajsahi']

In [17]:
simple_train_dtm = vect.transform(simple_train)
simple_train_dtm

<4x6 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [18]:
pd.DataFrame(simple_train_dtm.toarray(), columns = vect.get_feature_names())

   bangladesh  dhaka  india  mumbai  pabna  rajsahi
0           2      1      0       0      0        0
1           2      0      0       0      1        0
2           1      0      0       0      0        1
3           1      0      1       1      0        0

In [19]:
print(simple_train_dtm)

  (0, 0)	2
  (0, 1)	1
  (1, 0)	2
  (1, 4)	1
  (2, 0)	1
  (2, 5)	1
  (3, 0)	1
  (3, 2)	1
  (3, 3)	1

In [20]:
simple_test = ['Bangladesh Bangladesh bangladesh Mumbai india']

simple_test_dtm = vect.transform(simple_test)
simple_test_dtm.toarray()
pd.DataFrame(simple_test_dtm.toarray(), columns = vect.get_feature_names())

   bangladesh  dhaka  india  mumbai  pabna  rajsahi
0           3      0      1       1      0        0

In [23]:
new_map_target = []
count = 0
for x in simple_train_target:
    if x == 'b':
        new_map_target.append(1)
    else:
        new_map_target.append(0)

In [24]:
new_map_target

[1, 1, 1, 0]

In [25]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(simple_train_dtm, new_map_target)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [26]:
y_pred_class = nb.predict(simple_test_dtm)

In [27]:
y_pred_class

array([1])

In [28]:
print(y_pred_class[0])

1