In [1]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
x = iris.data
y = iris.target
print(x.shape)
print(y.shape)

(150, 4)
(150,)

In [2]:
pd.DataFrame(x,columns=iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [3]:
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [4]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x,y)
knn.predict([[3,5,4,2]])

array([1])

In [5]:
simple_train = ['Call you tonight','Call me a cab','please call me....Please!']
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
vect.fit(simple_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [6]:
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight', 'you']

In [7]:
simple_train_dtm = vect.transform(simple_train)
simple_train_dtm

<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [8]:
simple_train_dtm.toarray()

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]], dtype=int64)

In [9]:
pd.DataFrame(simple_train_dtm.toarray(), columns = vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [10]:
type(simple_train_dtm)

scipy.sparse.csr.csr_matrix

In [11]:
print(simple_train_dtm)

  (0, 1)	1
  (0, 4)	1
  (0, 5)	1
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (2, 1)	1
  (2, 2)	1
  (2, 3)	2

In [12]:
simple_test = ["please don't call me"]
simple_train_dtm = vect.transform(simple_test)
simple_train_dtm.toarray()
pd.DataFrame(simple_train_dtm.toarray(), columns = vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   1       1        0    0

In [13]:
path = 'sms.tsv'
sms = pd.read_table(path,header=5,names=['label','message'])
sms.shape
sms.head(10)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [14]:
sms.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [50]:
sms['label_num'] = sms.label.map({'ham':0,'spam':1})
sms.head(10)

  label                                            message  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0
5  spam  FreeMsg Hey there darling it's been 3 week's n...          1
6   ham  Even my brother is not like to speak with me. ...          0
7   ham  As per your request 'Melle Melle (Oru Minnamin...          0
8  spam  WINNER!! As a valued network customer you have...          1
9  spam  Had your mobile 11 months or more? U R entitle...          1

In [16]:
x = sms.message
y = sms.label_num
print(x.shape)
print(y.shape)

(5572,)
(5572,)

In [27]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4179,)
(1393,)
(4179,)
(1393,)

In [28]:
vect = CountVectorizer()
vect.fit(X_train)
x_train_dtm = vect.transform(X_train)

In [29]:
x_train_dtm = vect.fit_transform(X_train)#it's more faster than module 20

In [30]:
x_train_dtm

<4179x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 55209 stored elements in Compressed Sparse Row format>

In [31]:
x_test_dtm = vect.transform(X_test)
x_test_dtm

<1393x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 17604 stored elements in Compressed Sparse Row format>

In [32]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(x_train_dtm, y_train)
y_pred_class = nb.predict(x_test_dtm)

In [54]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)


print("tested data")
print(y_test.head(10))
print("predicted data")
print(y_pred_class[:10])

tested data
1078    0
4028    0
958     0
4642    0
4674    0
5461    0
4210    0
4216    0
1603    0
1504    0
Name: label_num, dtype: int64
predicted data
[0 0 0 0 0 0 0 0 0 0]

In [24]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[1203,    5],
       [  11,  174]], dtype=int64)

In [25]:
y_test.value_counts()

0    1208
1     185
Name: label_num, dtype: int64

In [26]:
# first 10 false positives (1-star reviews incorrectly classified as 5-star reviews)
X_test[y_test < y_pred_class].head(10)

574               Waiting for your call.
3375             Also andros ice etc etc
45      No calls..messages..missed calls
3415             No pic. Please re-send.
1988    No calls..messages..missed calls
Name: message, dtype: object

In [27]:
# first 10 false negatives (1-star reviews incorrectly classified as 5-star reviews)
X_test[y_test  > y_pred_class].head(10)

3132    LookAtMe!: Thanks for your purchase of a video...
5       FreeMsg Hey there darling it's been 3 week's n...
3530    Xmas & New Years Eve tickets are now on sale f...
684     Hi I'm sue. I am 20 years old and work as a la...
1875    Would you like to see my XXX pics they are so ...
1893    CALL 09090900040 & LISTEN TO EXTREME DIRTY LIV...
4298    thesmszone.com lets you send free anonymous an...
4949    Hi this is Amy, we will be sending you a free ...
2821    INTERFLORA - It's not too late to order Inter...
2247    Hi ya babe x u 4goten bout me?' scammers getti...
Name: message, dtype: object

In [28]:
X_test[3132]

"LookAtMe!: Thanks for your purchase of a video clip from LookAtMe!, you've been charged 35p. Think you can do better? Why not send a video in a MMSto 32323."

In [29]:
y_pred_prob = nb.predict_proba(x_test_dtm)[:,1]
y_pred_prob

array([2.87744864e-03, 1.83488846e-05, 2.07301295e-03, ...,
       1.09026171e-06, 1.00000000e+00, 3.98279868e-09])

In [30]:
metrics.roc_auc_score(y_test,y_pred_prob)

0.9866431000536962

In [31]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [32]:
%time logreg.fit(x_train_dtm,y_train)

Wall time: 64 ms

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [33]:
y_pred_class = logreg.predict(x_test_dtm)

In [34]:
y_pred_prob = logreg.predict_proba(x_test_dtm)
y_pred_prob

array([[0.98730444, 0.01269556],
       [0.99652817, 0.00347183],
       [0.99383483, 0.00616517],
       ...,
       [0.96645093, 0.03354907],
       [0.00274947, 0.99725053],
       [0.99842294, 0.00157706]])

In [35]:
metrics.accuracy_score(y_test,y_pred_class)

0.9877961234745154

In [39]:
metrics.roc_auc_score(y_test, y_pred_prob)

ValueError: bad input shape (1393, 2)

In [41]:
x_train_tokens = vect.get_feature_names()
#examin the first 50 tokens
print(x_train_tokens[0:50])

['00', '000', '008704050406', '0121', '01223585236', '01223585334', '0125698789', '02', '0207', '02072069400', '02073162414', '02085076972', '021', '03', '04', '0430', '05', '050703', '0578', '06', '07', '07008009200', '07090201529', '07090298926', '07123456789', '07732584351', '07734396839', '07742676969', '0776xxxxxxx', '07781482378', '07786200117', '078', '07801543489', '07808', '07808247860', '07808726822', '07815296484', '07821230901', '07880867867', '0789xxxxxxx', '07946746291', '0796xxxxxx', '07973788240', '07xxxxxxxxx', '08', '0800', '08000407165', '08000776320', '08000839402', '08000930705']

In [42]:
#examin the last 50 tokens
print(x_train_tokens[-50:])

['yer', 'yes', 'yest', 'yesterday', 'yet', 'yetunde', 'yijue', 'ym', 'ymca', 'yo', 'yoga', 'yogasana', 'yor', 'yorge', 'you', 'youdoing', 'youi', 'youphone', 'your', 'youre', 'yourjob', 'yours', 'yourself', 'youwanna', 'yowifes', 'yoyyooo', 'yr', 'yrs', 'ything', 'yummmm', 'yummy', 'yun', 'yunny', 'yuo', 'yuou', 'yup', 'zac', 'zaher', 'zealand', 'zebra', 'zed', 'zeros', 'zhong', 'zindgi', 'zoe', 'zoom', 'zouk', 'zyada', 'èn', '〨ud']

In [43]:
#Naive bayes count the number of times each token appears in each class
nb.feature_count_

array([[ 0.,  0.,  0., ...,  1.,  1.,  1.],
       [ 5., 23.,  2., ...,  0.,  0.,  0.]])

In [45]:
nb.feature_count_.shape

(2, 7456)

In [47]:
ham_token_count = nb.feature_count_[0,:]
ham_token_count

array([0., 0., 0., ..., 1., 1., 1.])

In [48]:
spam_token_count = nb.feature_count_[1,:]
spam_token_count

array([ 5., 23.,  2., ...,  0.,  0.,  0.])

In [51]:
tokens = pd.DataFrame({'token':x_train_tokens,'ham':ham_token_count,'spam':spam_token_count})
tokens.head()

   ham  spam         token
0  0.0   5.0            00
1  0.0  23.0           000
2  0.0   2.0  008704050406
3  0.0   1.0          0121
4  0.0   1.0   01223585236

In [53]:
tokens.sample(5,random_state=6)

       ham  spam         token
6977  64.0   2.0          very
4521   1.0   1.0         nasty
6999   0.0   1.0         villa
1266   1.0   0.0       beloved
6522   0.0   2.0  textoperator

In [54]:
#add 1 to ham and spam counts to avoid dividing by 0
tokens['ham']=tokens.ham + 1
tokens['spam'] = tokens.spam + 1
tokens.sample(5,random_state=6)

       ham  spam         token
6977  65.0   3.0          very
4521   2.0   2.0         nasty
6999   1.0   2.0         villa
1266   2.0   1.0       beloved
6522   1.0   3.0  textoperator

In [70]:
tokens['ham']=tokens.ham / nb.class_count_[0]
tokens['spam'] = tokens.spam / nb.class_count_[1]
tokens.sample(5,random_state=6)

               ham      spam         token  spam_ratio
6977  4.968398e-06  0.000009          very    0.297044
4521  1.528738e-07  0.000006         nasty    6.435943
6999  7.643689e-08  0.000006         villa   12.871886
1266  1.528738e-07  0.000003       beloved    3.217972
6522  7.643689e-08  0.000009  textoperator   19.307829

In [71]:
#calculate the ratio of spam to ham
tokens['spam_ratio'] =  tokens.spam/tokens.ham
tokens.sample(5,random_state=6)

               ham      spam         token  spam_ratio
6977  4.968398e-06  0.000009          very    1.911755
4521  1.528738e-07  0.000006         nasty   41.421363
6999  7.643689e-08  0.000006         villa   82.842726
1266  1.528738e-07  0.000003       beloved   20.710682
6522  7.643689e-08  0.000009  textoperator  124.264089

In [72]:
tokens.sort_values('spam_ratio',ascending=False)

               ham      spam       token   spam_ratio
1766  7.643689e-08  0.000282       claim  3686.501314
5209  7.643689e-08  0.000241       prize  3148.023594
293   7.643689e-08  0.000155        150p  2029.646791
6680  7.643689e-08  0.000152        tone  1988.225428
3139  7.643689e-08  0.000136  guaranteed  1781.118612
307   7.643689e-08  0.000123          18  1615.433160
2022  7.643689e-08  0.000117          cs  1532.590434
7357  1.528738e-07  0.000231         www  1511.879752
246   7.643689e-08  0.000101        1000  1325.483618
1130  7.643689e-08  0.000095     awarded  1242.640892
297   7.643689e-08  0.000092      150ppm  1201.219529
6829  1.528738e-07  0.000177          uk  1159.798166
521   7.643689e-08  0.000085         500  1118.376803
5558  7.643689e-08  0.000079    ringtone  1035.534077
1     7.643689e-08  0.000076         000   994.112714
4371  7.643689e-08  0.000076         mob   994.112714
1810  1.528738e-07  0.000139          co   911.269988
1834  7.643689e-08  0.000070  collection   911.269988
6947  7.643689e-08  0.000066       valid   869.848625
336   7.643689e-08  0.000066        2000   869.848625
617   7.643689e-08  0.000066         800   869.848625
254   7.643689e-08  0.000066         10p   869.848625
620   7.643689e-08  0.000063        8007   828.427262
302   1.528738e-07  0.000120          16   787.005898
7147  7.643689e-08  0.000060      weekly   787.005898
6681  7.643689e-08  0.000057       tones   745.584535
3856  7.643689e-08  0.000057        land   745.584535
3402  7.643689e-08  0.000057        http   745.584535
4527  7.643689e-08  0.000054    national   704.163172
522   7.643689e-08  0.000054        5000   704.163172
...            ...       ...         ...          ...
7166  3.516097e-06  0.000003        went     0.900464
4006  1.452301e-05  0.000013          ll     0.872029
2695  3.821844e-06  0.000003        feel     0.828427
6670  3.821844e-06  0.000003        told     0.828427
3141  3.898281e-06  0.000003         gud     0.812184
1950  4.127592e-06  0.000003         cos     0.767062
1522  2.507130e-05  0.000019         but     0.757708
920   4.204029e-06  0.000003         amp     0.753116
6040  4.204029e-06  0.000003   something     0.753116
6355  4.204029e-06  0.000003        sure     0.753116
4727  1.689255e-05  0.000013          ok     0.749708
5644  4.509776e-06  0.000003        said     0.702057
4417  4.662650e-06  0.000003     morning     0.679039
7396  4.891961e-06  0.000003        yeah     0.647209
4029  4.891961e-06  0.000003         lol     0.647209
967   4.968398e-06  0.000003    anything     0.637252
4489  4.158167e-05  0.000025          my     0.609138
2313  5.274145e-06  0.000003       doing     0.600310
897   5.427019e-06  0.000003     already     0.583399
1060  5.427019e-06  0.000003         ask     0.583399
7115  5.427019e-06  0.000003         way     0.583399
6689  6.038514e-06  0.000003         too     0.524321
1843  1.352933e-05  0.000006        come     0.468038
3879  8.484494e-06  0.000003       later     0.373165
2066  9.095989e-06  0.000003          da     0.348079
4051  9.095989e-06  0.000003         lor     0.348079
5824  9.860358e-06  0.000003         she     0.321096
3244  1.299427e-05  0.000003          he     0.243655
4093  1.773336e-05  0.000003          lt     0.178540
3135  1.796267e-05  0.000003          gt     0.176261

[7456 rows x 4 columns]

In [73]:
 #look up the spam_ratio for a given token
tokens.loc['claim','spam_ratio']

KeyError: 'the label [claim] is not in the [index]'